/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fffffd;
    text-align: center;
    color: #333;
    
}

#fixedhead {
    height: 25%;
    width: 100%;
    position: fixed;
}

header {
    background-color: white;
    padding-top: 30px;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

#blur {
    width: 100%;
    height: 20px;
    background: #56565653;
}


.title {
    color: #169687;
    font-size:42px;
    font-weight: bold;
}

.subtitle {
    color: gray;
    padding-top: 21px;
    padding-bottom: 28px;
    color: #808080;
    font-size:25px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
    font-size: 20px;
    color: gray;
}

.nav-links a:hover { color: #169687; } 

.nav-links li {
    margin: 0 20px;
    color : #666666;
}

.nav-links a {
    text-decoration: none;
    color: #666666;
    font-size: 1.5em;
    font-weight: 500;
}

hr{
    height: 2px;
    margin-top: 25px;
}
/* About Section Styles */
.about-section {
    background-color: #84c795;
    color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.about-section h2 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: 800;
}

.about-section p {
    font-size: 30px;
    margin-bottom: 15px;
}

.about-explore {
    color: #3c4145;
    font-size: 1.4em;
}
/* Icons Section */
.icons-section {
    margin-top: 20px;
}
.date-event {
    font-size: 10px;
}
.social-icons img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.event-info1 {
    margin-top: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.event-date{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
    
    font-weight:600;
}

.insta {
    width: 25px;
    height: 25px;
    margin: 0 8px;
    cursor: pointer;
  }
  
  .facebook {
    width: 28px;
    height: 28px;
    margin: 0 8px;
    cursor: pointer;
  }
  
  .youtube {
    width: 28px;
    height: 28px;
    margin: 0 8px;
    cursor: pointer;
  }

.time{
    display: flex;
    gap: 10px;
    font-weight:600;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.time img{
    width: 32px;
}

.event-info2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.event-info2 h1 {
    font-size: 45px;
    margin-bottom: 14px;
    font-weight: 800;
}
.event-info2 h2 {
    font-size: 1.7em;
    margin-bottom: 14px;
    font-weight: 800;
    color: #82807d;
    margin-top: 25px;
    margin-bottom: 45px;
}



.circle {
    width: 800px;
    height: 800px;
    background-color: #84c795;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.circle p {
    font-size: 35px;
    color: black;
    line-height: 1.3;
}

#form-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-container {
    width: 38vw;
    background-color: #fffffd;
    margin-top: 150px;
    padding: 40px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

.form-container {
    background-color: #fffffd;
    padding: 35px 50px;
    width: 33.33vw;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
    text-align: left;
}

.form-container h1 {
    font-size: 45px;
    font-weight: 900;
    color: #00736d;
    margin-bottom: 10px;
    margin-top: 45px;
    text-align: center;
}

.form-link {
    display: block;
    font-size:28px;
    margin-top: 30px;
    margin-bottom: 80px;
    color: #000000;
    text-decoration: underline;
    text-align: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size:25px;
    margin-bottom: 22px;
}

input {
    padding: 16px 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
    border: 3px solid transparent;
    border-bottom: 3px solid #000; /* Add bottom border only */
    outline: none; 
    width: 100%;
}
textarea {
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 22px;
    border: 2px solid transparent;
    outline:1px solid black; 
    width: 100%;
    min-height: 120px;
    resize: vertical;
    border-radius: 2px;
}

textarea:focus {
    border: 2px solid black;
}

input:focus {
    border: 3px solid #000; /* Full border on focus */
  border-radius: 4px; /* Optional: rounded corners */
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.radio-container , .checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-left: 10px;
    margin-bottom: 15px;
}

.radio-div,.checkbox-div {
    display: flex;
    align-items: center;
    width: 10%;
    gap: 10px;
}

.radio-label , .checkbox-label {
    font-size: 22px;
    margin-bottom: 0;
}

input[type="radio"], input[type="checkbox"] {
    transform: scale(1.2); 
    vertical-align: middle; 
    margin-bottom: 0;
    accent-color: grey;
}
#dob {
    border: 2px solid black;
    width: 40%;
    padding: 5px;
}



button {
    background-color: black;
    color: white;
    width: 35%;
    border: none;
    padding: 15px;
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

